  /**
        CSS STYLE METEO MAP
     */
    .it-abruzzo{
        background-image: url(https://a7daf9079c.cbaul-cdnwnd.com/bb884067cd8a3f65d8a2d99b3c09cfdd/200000299-f3580f3585/13_D.png?ph=a7daf9079c);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .it-basilicata{
        background-image: url(https://a7daf9079c.cbaul-cdnwnd.com/bb884067cd8a3f65d8a2d99b3c09cfdd/200000307-b023ab023d/17_D.png?ph=a7daf9079c);
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    .it-calabria{
        background-image: url(https://a7daf9079c.cbaul-cdnwnd.com/bb884067cd8a3f65d8a2d99b3c09cfdd/200000309-e5819e581d/18_D.png?ph=a7daf9079c);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .it-campania{
        background-image: url(https://a7daf9079c.cbaul-cdnwnd.com/bb884067cd8a3f65d8a2d99b3c09cfdd/200000303-63c8863c8c/15_D.png?ph=a7daf9079c);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .it-emilia-romagna{
        background-image: url(https://a7daf9079c.cbaul-cdnwnd.com/bb884067cd8a3f65d8a2d99b3c09cfdd/200000289-306e7306eb/8_D.png?ph=a7daf9079c);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .it-friuli{
        background-image: url(https://a7daf9079c.cbaul-cdnwnd.com/bb884067cd8a3f65d8a2d99b3c09cfdd/200000285-6b1c26b1c6/6_D.png?ph=a7daf9079c);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .it-italia{
        background-image: url(https://a7daf9079c.cbaul-cdnwnd.com/bb884067cd8a3f65d8a2d99b3c09cfdd/200000324-cf6efcf6f2/italia-1--4-8-2.png?ph=a7daf9079c);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .it-lazio{
        background-image: url(https://a7daf9079c.cbaul-cdnwnd.com/bb884067cd8a3f65d8a2d99b3c09cfdd/200000297-3d3a13d3a4/12_D.png?ph=a7daf9079c);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .it-liguria{
        background-image: url(https://a7daf9079c.cbaul-cdnwnd.com/bb884067cd8a3f65d8a2d99b3c09cfdd/200000287-d7ee1d7ee5/7_D.png?ph=a7daf9079c);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .it-lombardia{
        background-image: url(https://a7daf9079c.cbaul-cdnwnd.com/bb884067cd8a3f65d8a2d99b3c09cfdd/200000281-7ce877ce8a/3_D.png?ph=a7daf9079c);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .it-marche{
        background-image: url(https://a7daf9079c.cbaul-cdnwnd.com/bb884067cd8a3f65d8a2d99b3c09cfdd/200000295-6bd836bd86/11_D.png?ph=a7daf9079c);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .it-molise{
        background-image: url(https://a7daf9079c.cbaul-cdnwnd.com/bb884067cd8a3f65d8a2d99b3c09cfdd/200000301-51c9d51ca0/14_D.png?ph=a7daf9079c);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .it-piemonte{
        background-image: url(https://a7daf9079c.cbaul-cdnwnd.com/bb884067cd8a3f65d8a2d99b3c09cfdd/200000277-6671366715/1_D.png?ph=a7daf9079c);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .it-puglia{
        background-image: url(https://a7daf9079c.cbaul-cdnwnd.com/bb884067cd8a3f65d8a2d99b3c09cfdd/200000305-c944bc9450/16_D.png?ph=a7daf9079c);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .it-sardegna{
        background-image: url(https://a7daf9079c.cbaul-cdnwnd.com/bb884067cd8a3f65d8a2d99b3c09cfdd/200000313-8043280435/20_D.png?ph=a7daf9079c);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .it-sicilia{
        background-image: url(https://a7daf9079c.cbaul-cdnwnd.com/bb884067cd8a3f65d8a2d99b3c09cfdd/200000311-05a3f05a43/19_D.png?ph=a7daf9079c);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .it-toscana{
        background-image: url(https://a7daf9079c.cbaul-cdnwnd.com/bb884067cd8a3f65d8a2d99b3c09cfdd/200000291-7453474538/9_D.png?ph=a7daf9079c);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .it-trentino{
        background-image: url(https://a7daf9079c.cbaul-cdnwnd.com/bb884067cd8a3f65d8a2d99b3c09cfdd/200000283-672bf672c2/4_D.png?ph=a7daf9079c);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .it-umbria{
        background-image: url(https://a7daf9079c.cbaul-cdnwnd.com/bb884067cd8a3f65d8a2d99b3c09cfdd/200000293-33aea33aed/10_D.png?ph=a7daf9079c);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .it-valdaosta{
        background-image: url(https://a7daf9079c.cbaul-cdnwnd.com/bb884067cd8a3f65d8a2d99b3c09cfdd/200000279-5926659269/2_D.png?ph=a7daf9079c);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .it-veneto{
        background-image: url(https://a7daf9079c.cbaul-cdnwnd.com/bb884067cd8a3f65d8a2d99b3c09cfdd/200000275-b0a81b0a85/5_D.png?ph=a7daf9079c);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .wc-italia,.wc-i{
        height: 40px;
        width: 40px;
    }
    .wc-regione{
        height: 60px;
        width: 80px;
    }
    .image-map{
        cursor: pointer;
    }
